*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Poppins', sans-serif; // 'Montserrat', 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;

  h1 {
    font-size: 2.5rem;
    margin: 10px 0 0;
    text-align: center;
  }

  .form {
    margin: 10px;

    input {
      font-size: 1.6rem;
    }

    .btn {
      font-size: 1.6rem;
    }
  }

  .form > * {
    outline: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1000px;

    img {
      object-fit: cover;
      margin: 5px;

      height: 325px;
      width: 325px;
      max-width: 100%;
    }
  }
}
